/* hex,rgb,rgba */

/* h1{ */
    /* color:rgb(22,150,220); */

    /* color:#af4563; */

    /* color:rgba(13, 80, 117, 0.9);

    background-color: rgb(27, 244, 125);

    border:5px solid;

    border-color:red;

    font-size:50px;

    font-weight: bold; */
/* 
    font-style: italic;

    text-align: start;

    letter-spacing: 10px;

    word-spacing: 20px; */

    /* line-height: 2; */
     
    

/* } */
