/* h1{
    color :crimson ;
}

span{
    color:blue;
}

p{
    color:chocolate;font-size: 20px;
} */

/*h1, span, p{
    color:crimson;
    font-size: 20px;
} 

 #hello-css{
    color:red
}

#hello-html{
    color:aqua
}

#hello-css, #hello-html {
    font-size: 50px;
}

.third-paragraph{
    font-size: 50px;
    color:darkmagenta;
}  */